html{ 
    text-align: center;
    background-image: url("FONDO.jpg");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
   }
.centrar-listas {
    text-align: center;
}
.centrar-listas ul,
.centrar-listas ol {
    text-align: left;
    display: inline-block;
}
.table.background { background-image: url("fondo tabla.jpg");}
h1{ 
    color: rgb(78, 76, 79);
    text-align:center;
    background-color: #893d214a;
    
}
h2{
    color: #4e4b4fdf;
    background-color: #a44d2e2a;
}
h3{
    color: #4e4b4fdf;
    background-color: #cc5e3628;
}
footer{
    color: rgb(70, 13, 62);
    background-color: #cc5e3628;
}