*{

}

body{
    background-color: rgb(183, 248, 226);
    color: rgb(124, 38, 124);
  }
h1{ 
    color: rgb(103, 27, 133);
    text-align:center
}
h2{
    color: #9634c4
    
}
h3{
    color: rgb(124, 13, 128);
}

footer{
    color: rgb(70, 13, 62);
}